body {
  text-align: center;
}

.rock,
.paper,
.scissors {
  font-family: 'Times New Roman', Times, serif;
  width: 30%;
  margin: 18px;
  padding: 70px 0;
  font-size: 36px;
  border-radius: 18px;
  border: 2px solid #222;
  background-color: #ffffff;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  background-color: pink;
  color: purple;
}

.bigdawg {
  font-family: 'Times New Roman', Times, serif;
  font-size: 52px;
  font-weight: 400;
  margin: 40px auto 25px;
  padding: 15px 30px;
  width: fit-content;
  border: 3px solid #222;
  border-radius: 12px;
}

.rpsi {
  font-size: 26px;
  margin: 25px auto 15px;
  padding: 18px 25px;
  color: #333;
  width: fit-content;
  border: 2px solid #444;
  border-radius: 10px;
}
