.stand,.hit {
    font-size: 50px;   
    border-radius: 15px;
}

.stand:hover {
    transition-duration: 0.5s;
    background-color: black;
    color: white
}

.hit:hover {
    transition-duration: 0.5s;
    background-color: black;
    color: white
}



